.link-line {
  padding-bottom: 0.35rem;
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
  width: fit-content;
  transition: all 0.25s ease-in-out;
}

.link-line:hover,
.link-line:focus {
  transition: all 0.25s ease-in-out;
  padding-bottom: 0.15rem;
}
