.navbar__logo {
  width: 32px;
}

.header {
  background-color: var(--black) !important;
  color: var(--white);
}

.header a {
  text-decoration: none;
}

.navbar__name {
  color: var(--white);
  font-family: "Pathway Gothic One", sans-serif;
  font-size: var(--size-5);
}
